.tf-v1-popover {
  pointer-events: none;
}
.tf-v1-popover .tf-v1-popover-button,
.tf-v1-popover .tf-v1-popover-tooltip {
  pointer-events: all;
}
.tf-v1-popover.open {
  pointer-events: all;
  z-index: 9999999;
  bottom: 176px;
}
.tf-v1-popover .tf-v1-popover-tooltip {
  right: unset;
  left: 80px;
  bottom: 125px;
}
.tf-v1-popover .tf-v1-popover-tooltip:before {
  left: -4px;
  right: unset;
  box-shadow: -2px 2px 0px 0 rgba(0, 0, 0, 0.06);
}
.tf-v1-popover .tf-v1-popover-button {
  bottom: 120px;
  left: 16px;
  right: unset;
}
@media (min-width: 768px) {
  .tf-v1-popover.open {
    right: unset;
    bottom: 180px;
    left: 16px;
  }
}
.tf-v1-popover-close.tf-v1-close-icon {
  display: none;
}
